# Performance Profiles support for Franco Kernel Manager
# Copyright (C) 2018 Franco
# Copyright (C) 2018 SkyArk 

# Power Saving profile
on property:fku.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1036800
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 400000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor zzmoove
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/comp_algorithm lz0
    write /sys/block/zram0/max_comp_streams 4
    write /sys/module/autosmp/parameters/enabled 1
    write /sys/module/sync/parameters/fsync_enabled 1

# Balance Profile (FK defaults)
on property:fku.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 620000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1689000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1700
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/module/autosmp/parameters/enabled 0
    write /sys/module/sync/parameters/fsync_enabled 0

# Performance Profile
on property:fku.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 750000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:2150000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2200
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/module/autosmp/parameters/enabled 0
    write /sys/module/sync/parameters/fsync_enabled 0
