# SkyArk Kernel tweaks and parameters
# Copyright (C) 2018 SkyArk

import /init.performance_profiles.rc

on property:sys.boot_completed=1
    # Declare support for Franco Kernel Manager Performance Profiles
    setprop fku.profiles 2

on post-fs-data

    # Set ZRAM parameters and let qcom-post-boot handle the rest
    setprop ro.vendor.qti.config.zram true
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4

on property:init.svc.qcom-post-boot=stopped

    # Tune Display
    exec - system system -- /system/bin/sleep 10
    write /sys/devices/platform/kcal_ctrl.0/kcal "236 236 236"
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 258
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1

on property:sys.boot_completed=1

    # Switch to FIOPS I/O scheduler
    setprop sys.io.scheduler "fiops"

    # Disable slice_idle
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/dm-0/queue/iosched/slice_idle 0
    write /sys/block/dm-1/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iosched/slice_idle 0

    # Set read ahead to 512kB for internal and 512kB for external storage (rest are handled by qcom-post-boot)
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
    
    # Disable Yellow Flash
    write /sys/class/leds/led:flash_1/max_brightness 0
    write /sys/class/leds/led:torch_1/max_brightness 0
    write /sys/class/leds/torch-light1/max_brightness 0
    
    # ZRAM
    swapon /dev/block/zram0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/block/zram0/disksize 766666666
    
